annotated-types==0.6.0
async-timeout==4.0.3
bleak==0.21.1
certifi==2023.11.17
charset-normalizer==3.3.2
commonmark==0.9.1
construct==2.10.70
dbus-fast==2.21.1
idna==3.6
ifaddr==0.2.0
numpy==1.26.1
open-gopro==0.15.1
opencv-python==4.8.1.78
packaging==21.3
pexpect==4.9.0
Pillow==9.5.0
protobuf==3.20.3
ptyprocess==0.7.0
pydantic==2.6.0
pydantic-core==2.16.1
pygments==2.17.2
pyparsing==3.1.1
pytz==2023.4
requests==2.31.0
rich==12.6.0
typing-extensions==4.9.0
tzlocal==5.2
urllib3==2.2.0
wrapt==1.16.0
zeroconf==0.131.0
